<div class="col-xs-12 col-md-4">
  <div class="due-card">
    <% unless user_document.state %>
    <div class="due-card__type">
      <div class="due-card__subtitle">
       <% if user_document.document.company_name %>
          <%= user_document.document.company_name %>
       <% else %>
           "Unrecognizable Bill, Sorry"
       <% end %>
      </div>
    </div>
    <div class="due-card__price">
      <%= user_document.current_due_amount %> Yen
    </div>
    <div class="due-card__date">
      <div class="due-card__title">
        Due:<strong> <%= user_document.due_date.strftime("%b %d %Y") %></strong>
      </div>
    </div>
    <div class="due-card__remaining-days">
      <div class="due-card__title">
        Days Remaining: <%= (user_document.due_date - Date.today).positive? ?
        (user_document.due_date - Date.today).to_i : "Overdue" %>
      </div>
    </div>

    <%= link_to "paid", pay_user_document_path(user_document), method: :patch,
    remote: true, id: "#{user_document.id}-paid-document" %> <% end %>
  </div>
</div>
