<div class="primary-wrapper is-paddingless has-color">
    <div class="profile">

      <div class="sticky-top profile__left">

        <div class="user-card">
          <div class="user-card__header">
            <% unless current_user.photo.url.nil? %>
            <%= cl_image_tag current_user.photo, class: "avatar" %>
            <% else %>
            <%= image_tag 'avatar.png', class: "avatar" %>
            <% end %>
          </div>
          <div class="user-card__body center-content">
            <%= link_to 'Edit profile',
            edit_user_registration_path(current_user), class: "user-card__edit
            tag" %>
            <div class="user-card__heading">
              <%= current_user.first_name %> <%= current_user.last_name %>
            </div>
            <div class="user-card__info">

              <%= render "total-stats", title: "Uploaded", count: current_user.user_documents.count, modifier: "" %>

              <%= render "total-stats", title: "Paid", count: current_user.user_documents.select { |doc| doc.state == true }.count, modifier: "" %>

              <%= render "total-stats", title: "Unpaid", count: current_user.user_documents.select { |doc| doc.state == false }.count, modifier: "" %>
              
              <%= render "total-stats", title: "Overdue", count: current_user.user_documents.select { |doc| doc.document.nil? ? "Unrecognized" : (doc.due_date - Date.today).positive? && doc.state == false }.count, modifier: "user-card__count--red" %>

            </div>
          </div>
          <%= simple_form_for(@user_document) do |f| %>
            <%= f.input :photo, required: true, label: 'Bill upload/snap', required: false, input_html: { class: "upload-document hidden", onchange: "loader()" }, label_html: { class: 'upload-photo' }, label: '📷 Upload a Bill' %>
            <%= f.input :photo_cache, as: :hidden %>
          <% end %>

          <div class="profile-stats">
            <h2>Financial Data for <%= Time.current.year %> </h2>
            <%= render "stats", title: "All", stats: @general_stats  %>
            <%= render "stats", title: "Gas", stats: @gas_stats  %>
            <%= render "stats", title: "Water", stats: @water_stats  %>
            <%= render "stats", title: "Electricity", stats: @electricity_stats  %>
            <%= render "stats", title: "Tax", stats: @tax_stats  %>
            <%= render "stats", title: "Insurance", stats: @insurance_stats  %>
          </div>
        </div>
      </div>

      <div class="has-background-primary profile__right">

        <div class="upcoming-card">
          <div class="upcoming-card__heading">
            <h2> Your upcoming bills</h2>
          </div>
          <div class="upcoming-card__body">
              <% sorted = current_user.user_documents.where(state: false).order('due_date ASC').first(3) %>
              <% p sorted %>
              <% sorted.each do |user_document| %>
                <% if user_document.created_at.year == Date.today.year %>
                <%= render "due-bills", user_document: user_document %>
                <% end %>
              <% end %>

          </div>
        </div>

        <div class="has-background-primary profile__bills">
            <div class="filter">
              <%= form_tag profile_path, method: :get, class: "filter__form" do |f| %>
                <%= select_tag "sort_by", options_for_select(@sort_by, params[:sort_by]), id: "sort-by-select" %>
                <%= select_tag "category", options_for_select(@categories, params[:category]), id: "category-select" %>
              <% end %>

              <div class="bills-list">
                <div class="bills-list__header">
                 <div class="bills-list__company">
                    Bill Type
                  </div>
                  <div class="bills-list__due-date">
                    Due date
                  </div>
                  <div class="bills-list__due">
                    Amount Due
                  </div>
                  <div class="bills-list__paid">
                    State
                  </div>
                </div>

                <% @user_documents.select do |user_document| %>
                  <% if user_document.state == true %>
                    <% if @collection_type == 'due date' %>
                      <%= render "bill-list", user_document: user_document %>
                    <% elsif @collection_type == 'most expensive' %>
                      <%= render "bill-list", user_document: user_document %>
                    <% elsif @collection_type == 'least expensive' %>
                      <%= render "bill-list", user_document: user_document %>
                    <% else %>
                      <%= render "bill-list", user_document: user_document %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  $( "#sort-by-select" ).select2({
    theme: "bootstrap",
  });
  $( "#sort-by-select").on('select2:select', (e) => {
    document.querySelector(".filter__form").submit();
  });
  $( "#category-select").select2({
    theme: "bootstrap"
  });
  $( "#category-select").on('select2:select', (e) => {
    document.querySelector(".filter__form").submit();
  });
</script>
