<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1>My Bills</h1>
      <p>Browse through all your uploaded bills</p>
    </div>
    <div class="col-xs-12 col-md-6 button-container">
      <%= simple_form_for(@user_document) do |f| %>
      <%= f.input :photo, required: true, label: 'Bill upload/snap', required: false, input_html: { class: "upload-document hidden", onchange: "loader()" }, label_html: { class: 'upload-photo' }, label: '📷 Upload a Bill' %>
      <%= f.input :photo_cache, as: :hidden %>
      <% end %>
    </div>
  </div>
</div>

<div class="filter">
  <%= form_tag user_documents_path, method: :get, class: "filter__form" do |f|
  %> <%= select_tag "sort_by", options_for_select(@sort_by, params[:sort_by]),
  include_blank:'', id: "sort-by-select" %> <%= select_tag "category",
  options_for_select(@categories, params[:category]), include_blank:'', id:
  "category-select" %> <% end %>
</div>

<div class="primary-wrapper">
  <div class="container">
    <div class="row">
      <%# sorted = current_user.user_documents.order('created_at ASC')%> <%
      @user_documents.each do |doc| %>
      <div class="col-xs-12 col-md-4">
        <div class="card card-max-height" style="position: relative;">
          <%= link_to "", user_document_path(doc), class: "document__link",
          method: :get %>
          <div class="card__close">
            <%= link_to user_document_path(doc), method: :delete, class: "btn
            btn-secondary btn-circle", style: "border-radius: 0 0 0 20px;" do %>
            <i class="fas fa-times"></i>
            <% end %>
          </div>
          <div class="result">
            <h2 class="card__title has-background-white has-text-color-primary">
              <%= doc.document.nil? ? "Unrecognizable Bill, Sorry" :
              doc.document.company_name %>
            </h2>
            <div class="card__content padding-small">
              <div class="card__label">
                Due On
              </div>
              <div class="card__info">
                <%= doc.due_date.strftime("%b %d") unless doc.due_date.nil? %>
              </div>
            </div>
            <div class="card__content padding-small">
              <div class="card__label">
                Amount due
              </div>
              <div class="card__info">
                ¥<%= number_with_delimiter(doc.current_due_amount) %>
              </div>
            </div>
          </div>
          <div class="result-photo">
            <%= cl_image_tag doc.photo.url,:quality=>60, :width => 100, :crop =>
            "fit" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $('#sort-by-select').select2({
    theme: 'bootstrap',
    placeholder: 'Sort by'
  });
  $('#sort-by-select').on('select2:select', e => {
    document.querySelector('.filter__form').submit();
  });
  $('#category-select').select2({
    theme: 'bootstrap',
    placeholder: 'Select category'
  });
  $('#category-select').on('select2:select', e => {
    document.querySelector('.filter__form').submit();
  });
</script>
