<div class="primary-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 is-paddingless">
        <div class="card">
          <div class="card__title">
            <%= @user_document.document.company_name unless @user_document.document.nil? %>
          </div>
          <div class="card__content">
            <div class="card__label">
              Due
            </div>
            <div class="card__info">
              <%= @user_document.due_date.strftime("%b %d") unless @user_document.due_date.nil? %>
            </div>
          </div>
          <div class="card__content">
            <div class="card__label">
              Amount due
            </div>
            <div class="card__info">
              ¥<%= number_with_delimiter(@user_document.current_due_amount) %>
            </div>
          </div>
          <div class="result-photo">
            <%= cl_image_tag @user_document.photo, :quality=>60, :width => 1000,
            :crop => "fill", class: "height-change" %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 is-paddingless">
        <div class="document center-content show-page">
          <div>
            <p>We will email you on: <%= @user_document.reminder_date.strftime("%B %d") %></p>

            <% if @user_document.reminder_date.nil? %>
            <div class="reminder-form center-content">
              <%= simple_form_for @user_document do |f| %>
              <%= f.input :reminder_date, label: false %> <%= f.submit "Remind me!", class: "button is-inverted" %> <% end %>
            </div>
            <% else %>
            <div>
              <p>Change reminder date?</p>
              <%= simple_form_for @user_document do |f| %>
              <%= f.input :reminder_date, as: :string, label: false, input_html: { class: 'datepicker' } %>
              <script>
                document.addEventListener('DOMContentLoaded', () => {
                  initPicker('<%= @user_document.due_date %>');
                });
              </script>
              <div style="display: flex; justify-content: center;">
                <%= f.submit "Remind me", class: "button is-inverted" %>
              </div>
              <% end %>
            </div>
            <% end %>
          </div>
          <div class="store-text">
            <h2>Pay Your <%= @user_document.document.company_name unless @user_document.document.nil?%> Bill At</h2>
          </div>
          <div class="store-icons">
            <div class="store-icons__image"><%= image_tag 'lawson.png'%></div>
            <div class="store-icons__image"><%= image_tag 'seven_eleven.png'%></div>
            <div class="store-icons__image"><%=
            image_tag 'family_mart.JPG'%></div>
            <div class="store-icons__image"><%= image_tag 'sunkus.png'%></div>
            <div class="store-icons__image"><%=
            image_tag 'mini_stop.png'%></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
