<div class="navbar">
  <div class="flex-nav">
    <a href="/" class="navbar-link">
      <%= image_tag 'logo.png', class: "logo" %>
    </a>
    <% if user_signed_in? %>
      <%= link_to "Want to sell a game?", user_user_games_path(current_user)%>
      <% else %>
      <%= link_to "Want to sell a game?", new_user_session_path %>
      <% end %>
    <% if user_signed_in? %>

      <div class="navbar-item">
        <div class="dropdown">
          <% if !current_user.photo.url.nil? %>
            <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle",
            id: "navbar-menu",
            data: { "toggle": "dropdown" }, crop: :fit %>
          <% else %>
            <%= image_tag 'avatar.png', class: "avatar dropdown-toggle",
            id: "navbar-menu",
            data: { "toggle": "dropdown" } %>
          <% end %>

            <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
              <li>
                <%= link_to 'Profile', user_path(current_user) %>
              </li>
              <li>
                <%= link_to 'My Games', user_user_games_path(current_user) %>
              </li>
              <li>
                <%= link_to 'Sell Game', new_user_game_path %>
              </li>
              <li>
                <%= link_to 'Log out', destroy_user_session_path, method: "delete" %>
              </li>
            </ul>
          </div>
        </div>

    <% else %>

      <%= button_to "Sign in", new_user_session_path, method: "get", class: "button" %>

    <% end %>

    </div>

  </div>
