<!-- have to put get in link, otherwise it's thinking post -->
<%= button_to "Home", restaurants_path, class: "btn btn-danger", method: "get" %>
<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<ul>
<% @restaurant.reviews.each do|review| %>
  <li><%= review.rating %></li>
  <li><%= review.content %></li>
<% end %>
</ul>
<!-- Review form -->
<!-- getting @restaurant from above, getting new review instance from restaurants -->
<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.label :rating %>
  <%= f.select(:rating, Review::RATING) %>
  <%= f.input :content %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
  <!-- will go to reviews#create -->
<% end %>
<br>

<%= console %>
